name: Package and Release

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout addon
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for changelog generation

      - name: Package and release
        uses: BigWigsMods/packager@v2
        with:
          args: -z -g -l
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
